.header, .container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    background: linear-gradient(to left, #aa4b6b, #3b8d99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
 

}

.inputField {
    padding: 10px;
    width: 40%;
    border: none;
    font-size: 25px;
}
.btn{
    padding: 20px;
    background: #3b8d99;
    border: none;
   
}

body{
    background-image: url(Coffe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
    background-position: center;
   background-color: #3b8d99;
}

.toDoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toDoAdded{ 
background: #ae5f75;
list-style-type: none ;
overflow-wrap: break-word;
width: 620px;
margin-right: 40px;
color: white;
font-size: 20px;
border-bottom: 1px solid #cdc7be;
}
.toDoContainer {
display: flex;
flex-direction: column;
align-items: center;
}
.toDoCompleted {
    background: #8fd9a8;
    color: #000000;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 1s ease;

}
@media all and (max-width: 800px){
h1 {
font-size: 45px;
}
.toDoAdded { 
width: 380px;
}  
}
@media all and (max-width: 500px){
h1 {
font-size: 25px;
}
.toDoAdded {
width: 230px;  
}
.inputField {
font-size: 20px;
height: 20px;
}
.btn {
    height: 20px;
}
}
